@CHARSET "UTF-8";
/*############# meyer reset #################*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* float */
.floatcontainer {
    overflow: hidden;
}

.left {
    float: left;
}

.right {
    float: right;
}

.displayfalse,
.toggleoff {
    display: none;
}

/* the garden grid*/

#thegrid .gridrow {
    white-space: nowrap;
    font-size: 0;
}

#thegrid .gridsquarecontainer {
    display: inline-block;
    width: 48px;
    height: 48px;
}

#thegrid .gridsquarecontainer:hover .gridsquaretooltip {
    display: block;
}

#thegrid .gridsquaretooltip {
    z-index: 100;
    display: none;
    position: absolute;
    background-color: #fff;
    overflow: hidden;
}

#thegrid .gridsquaresquare {

}

#thegrid .gridsquaretooltipitem {
    float: left;
    font-size: 14px;
}

#thegrid .speciesimage {

}

#thegrid .smallspeciesimage {
    width: 24px;
    height: 24px;
    float: left;
}

/*############# selectspecieslist in garden #################*/
#selectspecieslist {
    z-index: 100;
    float: left;
    position: relative;
    clear: left;
}

#selectspecieslist .selectspeciescontainer {
    position: relative;
}

#selectspecieslist .selectspeciestooltipcontainer {
    white-space: nowrap;
}

#selectspecieslist .selectspeciestooltipcontainer {
    z-index: 100;
    display: none;
    position: absolute;
    left: 99.5%;
    top: -150px;
}

#selectspecieslist .selectspeciescontainer:hover .selectspeciestooltipcontainer {
    display: block;
}

/*############### main menu #####################*/
#mainmenu {
    text-align: center;
    overflow: hidden;
}

#mainmenu .separator, #mainmenu .mainmenuitem {
    float: left;
}