/* general */
.absolute-full {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* ############### login  ##################################*/
.signin-icon.facebook {
    background-position: -14px 0;
}

.signin-icon.yahoo {
    background-position: -53px 0;
}

.signin-icon.google {
    background-position: -33px 0;
}

.signin-icon {
    background: url('/static/icon/openid-icons.png') no-repeat scroll center center transparent;
    float: left;
    height: 20px;
    width: 20px;
    margin: 0px 10px 0px 0px;
}

.list-group-item {
    border: 0;
}

/* ###############the garden grid ##################################*/
.square {
    width: 48px;
    height: 48px;
    position: absolute;
}

.visible-remainder {
    width: 48px;
    height: 48px;
    position: absolute;
    background-color: sandybrown;
    opacity: 0.1;
}

.multiple-plants {
    width: 24px;
    height: 24px;
    float: left;
}

#grid::before {
    content: "";
    background-image: url('/static/icon/gridbackground.png');
    background-position: 8px 8px;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.05;
}

/*Chrome gird background position*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    #grid::before {
        background-position: 40px 40px !important;
    }
}

/*Mozilla gird background position*/
@-moz-document url-prefix() {
    #grid::before {
        background-position: 8px 8px !important;
    }
}

#grid {
    position: relative;
    width: 100400px;
    height: 100200px;
    margin-left: -99600px;
    margin-top: -99800px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grid-to-top {
    top: 60px;
}

#peephole {
    overflow: auto;
    position: absolute;
    bottom: -15px;
    left: 0;
    top: 0;
    right: -15px;
    margin: 0;
    /* box-shadow: -7px -4px 37px 2px #666 inset; */
}

#fade-top {
    height: 20px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 80%);
    bottom: auto;
    z-index: 100;
}

#fade-bottom {
    height: 20px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 80%);
    top: auto;
    z-index: 100;
}

#fade-right {
    width: 20px;
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 80%);
    left: auto;
    right: 15px;
    z-index: 100;
}

#fade-left {
    width: 20px;
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 80%);
    right: auto;
    z-index: 100;
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/* Sidebar navigation */
.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    overflow: hidden;
    padding: 0
}

.sidebar > div {
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 106%;
    overflow-y: scroll;
}

.sidebar .navbar-form {
    padding-left: 15px;
}

.sidebar .btn-group {
    margin: 15px;
    width: 90%;
}

.sidebar .navbar-form .form-control {
    width: 100%;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 6px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

#garden-frame {
    position: fixed;
    bottom: 0;
    top: 50px;
}

#garden-frame ul.nav-tabs {
    padding: 10px 0 0 10px;
}