/* ############### login  ##################################*/
.signin-icon.facebook {
    background-position: -14px 0;
}

.signin-icon.yahoo {
    background-position: -53px 0;
}

.signin-icon.google {
    background-position: -33px 0;
}

.signin-icon {
    background: url('/static/icon/openid-icons.png') no-repeat scroll center center transparent;
    float: left;
    height: 20px;
    width: 20px;
    margin: 0px 10px 0px 0px;
}

.list-group-item {
    border: 0;
}

/* ###############the garden grid ##################################*/
.square {
    background-color: green;
    width: 48px;
    height: 48px;
    position: absolute;
}

#grid::before {
    content: "";
    background-image: url('/static/icon/gridbackground.png');
    background-position: 40px 40px;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.05;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    #grid::before {
        background-position: 40px 40px !important;
    }
}

@-moz-document url-prefix() {
    #grid::before {
        background-position: 8px 8px !important;
    }
}

#grid {
    position: relative;
    width: 100400px;
    height: 100200px;
    margin-left: -99600px;
    margin-top: -99800px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
#peephole::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0.05;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 1px 3px #666 inset;
}
*/
#peephole {
    overflow: auto;
    position: absolute;
    bottom: -15px;
    top: 60px;
    left: 0px;
    right: -15px;
    margin: 0;
    /* box-shadow: -7px -4px 37px 2px #666 inset; */
}

/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/* Sidebar navigation */
.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    overflow: hidden;
}

.sidebar > div {
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    overflow-y: scroll;
}

.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main content
 */

.main {
    position: fixed;
    bottom: 0;
    top: 50px;
}

.main > div {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.main > div > ul {
    padding: 10px 30px 0 40px;
}