/* ############### general ###############*/
html,
body,
.full-height {
    height: 100%
}

body > .angular-view {
    /*81 px is height of navbar including margin*/
    height: calc(100% - 81px);
    height: -webkit-calc(100% - 81px);
    height: -moz-calc(100% - 81px);
    height: -o-calc(100% - 81px);
    /*overflow-y: auto;*/
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.absolute-full {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.full-width {
    width: 100% !important;
}

/* ############### login  ##################################*/
.signin-icon.facebook {
    background-position: -1px 0;
}

.signin-icon.twitter {
    background-position: -26px 0;
}

.signin-icon.yahoo {
    background-position: -150px -50px;
}

.signin-icon.google {
    background-position: -75px 0;
}

.signin-icon {
    background-repeat: no-repeat;
    background-image: url('/static/icon/socialmedialogosprite.jpg');
    background-color: transparent;
    float: left;
    height: 20px;
    width: 20px;
    margin: 0px 10px 0px 0px;
}

.list-group-item {
    border: 0;
}

/* ############### garden page ##################################*/

#species-frame {
    overflow: auto;
}

#garden-frame {
    /*position: fixed;*/
    /*bottom: 0;*/
    /*top: 0;*/
}

.edit-grid-wrapper {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 1px;
    right: 1px;
}

#garden-frame ul.nav-tabs {
    /*padding: 10px 0 0 10px;*/
}

/* ############### general grid ##################################*/
.square {
    width: 48px;
    height: 48px;
    position: absolute;
}

.visible-remainder {
    width: 48px;
    height: 48px;
    position: absolute;
    background-color: sandybrown;
    opacity: 0.1;
    z-index: -1;
}

.multiple-plants {
    width: 24px;
    height: 24px;
    float: left;
}

/*Chrome gird background position*/
/*
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    #grid::before {
        background-position: 40px 40px !important;
    }
}
*/

/*Mozilla gird background*/
@-moz-document url-prefix() {
    .square-container {
        background-image: none !important;
        background: rgba(198, 221, 198, 0.2);
    }
}

.square-container {
    background-position: 40px 40px;
    background-image: url('/static/icon/gridbackground.png');
    position: relative;
    width: 100400px;
    height: 100200px;
    margin-left: -99600px;
    margin-top: -99800px;
    cursor: crosshair;
}

.peephole {
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: 0;
}

/*############## Square tooltip  #########################*/
.square-tooltip {
    top: 48px;
    left: 48px;
    display: none;
    z-index: 100;
    position: absolute;
    background-color: #FFF;
    box-shadow: 0px 0px 5px #666;
    border: 1px solid #618039;
    border-radius: 3px;
    background-color: #FFF;
    white-space: nowrap;
}

.square-tooltip-item {
    margin: 10px;
    display: inline-block;
}

/*############## Wall #########################*/
.wall-grid-wrapper {
    position: relative;
    height: 100%;
}
