<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %thread %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.smigo" level="TRACE"/>
    <logger name="org.smigo.user.UserAdaptiveMessageSource" level="INFO"/>
    <logger name="org.springframework" level="DEBUG"/>
    <logger name="org.springframework.security" level="DEBUG"/>
    <logger name="org.apache.coyote" level="INFO"/>
    <logger name="org.apache.tomcat" level="INFO"/>
    <logger name="org.apache.jasper" level="INFO"/>

    <!--Stack trace for using default TaskScheduler-->
    <logger name="org.springframework.scheduling.annotation.ScheduledAnnotationBeanPostProcessor" level="INFO"/>
    <logger name="org.springframework.scheduling.annotation.AsyncAnnotationBeanPostProcessor" level="INFO"/>
    <!--Stacktrace for H2 JdbcResultSet not implementing method-->
    <logger name="org.springframework.jdbc.support.JdbcUtils" level="INFO"/>


    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>


</configuration>
