<div class="container" ng-controller="AccountController">
    <ul class="nav nav-pills nav-justified">
        <li role="presentation"><a href="" ng-click="goTo('settings-anchor')" so-msg="msg.settings"></a></li>
        <li role="presentation"><a href="" ng-click="goTo('password-anchor')" so-msg="password"></a></li>
        <li role="presentation"><a href="/logout" target="_self" id="logout-link" so-msg="account.logout"></a></li>
    </ul>

    <hr/>

    <div id="settings-anchor" class="text-center">
        <h2 so-msg="msg.settings"></h2>
    </div>

    <form name="accountDetailsForm" class="form-horizontal" role="form" ng-submit="updateUser(accountDetailsForm,userBean)" novalidate="">
        <div class="alert alert-success" role="alert" ng-if="accountDetailsForm.updateSuccessful" so-msg="msg.accountupdatesuccess">
        </div>
        <div class="has-error">
            <span ng-repeat="error in accountDetailsForm.objectErrors" class="help-block">{{error.rejectedValue}} : {{error.defaultMessage | translate}}</span>
        </div>

        <!--#### Email ####-->
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label" so-msg="email"> </label>

            <div class="col-sm-10">
                <input type="email" name="email" class="form-control" id="inputEmail3" so-msg-attr="placeholder=email" ng-model="userBean.email"/>
                <span ng-show="accountDetailsForm.email.$invalid" class="help-block" so-msg="msg.pleaseentervalidemail"></span>
            </div>
        </div>

        <!--#### Display name ####-->
        <div class="form-group">
            <label for="inputName3" class="col-sm-2 control-label" so-msg="name"></label>

            <div class="col-sm-10">
                <input type="text" name="displayName" class="form-control" id="inputName3" so-msg-attr="placeholder=name" ng-model="userBean.displayName">
            </div>
        </div>

        <!--#### Language ####-->
        <div class="form-group">
            <label for="inputLocale3" class="col-sm-2 control-label" so-msg="language"></label>

            <div class="col-sm-4">
                <select id="inputLocale3" name="locale" class="form-control" ng-model="userBean.locale" ng-options="k as v for (k,v) in locales">
                </select>
            </div>
        </div>

        <!--#### About ####-->
        <div class="form-group">
            <label for="inputAbout3" class="col-sm-2 control-label" so-msg="about"></label>

            <div class="col-sm-10">
                <textarea rows="5" maxlength="4000" name="about" class="form-control" id="inputAbout3" so-msg-attr="placeholder=about" ng-model="userBean.about"/>
            </div>
        </div>

        <!--#### Save button ####-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="submit-account-button" type="submit" class="btn btn-default" so-msg="save"></button>
                <img ng-if="accountDetailsForm.pendingSave" ng-src="http://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2-spinner.gif"/>
            </div>
        </div>

    </form>

    <!--#### Change password ####-->
    <div id="password-anchor" class="text-center">
        <h2 so-msg="password"></h2>
    </div>

    <form name="passwordForm" class="form-horizontal" role="form" novalidate="" ng-submit="changePassword(passwordForm,passwordBean)">

        <div class="alert alert-success" role="alert" ng-if="passwordForm.updateSuccessful" so-msg="msg.changepasswordsuccess">
        </div>
        <div class="has-error">
            <span ng-repeat="error in passwordForm.objectErrors" class="help-block">{{error.defaultMessage | translate}}</span>
        </div>

        <!--#### Current password ####-->
        <div class="form-group" ng-class="{'has-error':passwordForm.oldPassword.$invalid && passwordForm.oldPassword.$dirty}">
            <label for="old-password-input" class="col-sm-2 control-label" so-msg="account.currentpassword"></label>

            <div class="col-sm-10">
                <input type="password" name="oldPassword" class="form-control" id="old-password-input" so-msg-attr="placeholder=account.currentpassword"
                       ng-model="passwordBean.oldPassword" ng-required="true">

                <div ng-if="passwordForm.oldPassword.$dirty">
                    <span ng-show="passwordForm.oldPassword.$error.required" class="help-block" so-msg="msg.required"></span>
                </div>
            </div>
        </div>

        <!--#### New password ####-->
        <div class="form-group" ng-class="{'has-error':passwordForm.newPassword.$invalid && passwordForm.newPassword.$dirty}">
            <label for="new-password-input" class="col-sm-2 control-label" so-msg="msg.newpassword"></label>

            <div class="col-sm-10">
                <input type="password" name="newPassword" class="form-control" id="new-password-input" so-msg-attr="placeholder=msg.newpassword"
                       ng-model="passwordBean.newPassword" ng-required="true" ng-minlength="6">

                <div ng-if="passwordForm.newPassword.$dirty">
                    <span ng-show="passwordForm.newPassword.$error.minlength" class="help-block">{{'msg.minlength' | translate:6}}</span>
                    <span ng-show="passwordForm.newPassword.$error.required" class="help-block">{{'msg.required' | translate}}</span>
                </div>
            </div>
        </div>

        <!--#### Verify password ####-->
        <div class="form-group" ng-class="{'has-error':passwordForm.verifyPassword.$invalid && passwordForm.verifyPassword.$dirty}">
            <label for="verify-password-input" class="col-sm-2 control-label" so-msg="passwordagain"></label>

            <div class="col-sm-10">
                <input type="password" name="verifyPassword" class="form-control" id="verify-password-input" so-msg-attr="placeholder=passwordagain"
                       ng-model="passwordBean.verifyPassword" equals="{{passwordBean.newPassword}}">

                <div ng-if="passwordForm.verifyPassword.$dirty">
                    <span ng-show="passwordForm.verifyPassword.$error.equals" class="help-block" so-msg="msg.entersamevalueagain"></span>
                </div>
            </div>
        </div>

        <!--#### Save button ####-->
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button id="submit-password-button" type="submit" class="btn btn-default" so-msg="changepassword"></button>
                <img ng-if="passwordForm.pendingSave" ng-src="http://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2-spinner.gif"/>
            </div>
        </div>


    </form>

    <div ng-include="'footer.html'"></div>
</div>
