<hr style="border-top-color:#B8B8B8;margin-top: 100px">

<div class="row">
    <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
        <footer>
            <div class="row">
                <div class="col-sm-offset-1 col-xs-4">
                    <div style="text-decoration: underline;">{{'about'|translate}}</div>
                    <a href="https://github.com/nosslin579/smigo">{{'msg.sourccode'|translate}}</a><br/>
                    <a href="/static/terms-of-service.html" rel="nofollow">{{'termsofservice'|translate}}</a><br/>
                    <a href="/help">{{'help'|translate}}</a><br/>
                    <a href="/forum">{{'msg.forum'|translate}}</a><br/>
                </div>
                <div class="col-xs-4">
                    <div style="text-decoration: underline;">{{'contact'|translate}}</div>
                    <a href="http://www.reddit.com/r/smigo" target="_blank">Reddit</a><br/>
                    <a href="https://www.facebook.com/smigogarden" target="_blank">Facebook</a><br/>
                    <a href="https://www.twitter.com/smigogarden" target="_blank">Twitter</a><br/>
                    <a href="http://se.linkedin.com/pub/christian-nilsson/3b/798/a5b/" target="_blank">Linkedin</a><br/>
                </div>
                <div class="col-xs-4 col-xs-3">
                    <div style="text-decoration: underline;">{{'msg.links'|translate}}</div>
                    <a href="{{'msg.link1.href'|translate}}" target="_blank">{{'msg.link1.text'|translate}}</a><br/>
                    <a href="{{'msg.link2.href'|translate}}" target="_blank">{{'msg.link2.text'|translate}}</a><br/>
                    <a href="{{'msg.link3.href'|translate}}" target="_blank">{{'msg.link3.text'|translate}}</a><br/>
                    <a href="{{'msg.link4.href'|translate}}" target="_blank">{{'msg.link4.text'|translate}}</a><br/>
                </div>
            </div>
            <div class="row" style="margin: 16px;">
                <div class="text-center">Copyright (C) 2011-2015 Christian Nilsson - christian1195@gmail.com</div>
            </div>
        </footer>
    </div>
</div>