<div class="container-fluid full-height">
    <div class="row full-height">
        <div species-tooltip class="species-tooltip hidden-xs">
        </div>
        <div id="species-frame" class="col-xs-3 full-height">
            <div class="species-wrapper">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="button" class="btn btn-block btn-default" ng-class="{'btn-info': speciesState.action == 'info'}"
                                ng-click="speciesState.action = 'info'" title="{{'msg.view-square.description' | translate}}">
                            <span class="glyphicon glyphicon-info-sign"></span><span class="hidden-xs hidden-sm"> {{'msg.view-square.title' | translate}}</span>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-block btn-default" ng-class="{'btn-success': speciesState.action == 'add'}"
                                ng-click="speciesState.action = 'add'" title="{{'msg.add-square.description' | translate}}">
                            <span class="glyphicon glyphicon-plus-sign"></span><span class="hidden-xs hidden-sm"> {{'msg.add-square.title' | translate}}</span>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-block btn-default" ng-class="{'btn-danger': speciesState.action == 'delete'}"
                                ng-click="speciesState.action = 'delete'" title="{{'msg.deletesquare.description' | translate}}">
                            <span class="glyphicon glyphicon-remove-sign"></span><span class="hidden-xs hidden-sm"> {{'msg.deletesquare.title' | translate}}</span>
                        </button>
                    </div>
                </div>
                <hr/>
                <form class="navbar-form" ng-submit="selectedSpeciesFromTopResult(speciesQuery)">
                    <input class="form-control full-width" type="text" placeholder="{{'search' | translate}}" ng-model="speciesQuery" ng-change="searchSpecies(speciesQuery)">
                </form>
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="s in speciesState.speciesArray | speciesFilter:speciesQuery"
                        ng-class="{active: speciesState.selectedSpecies.id === s.id && speciesState.action == 'add'}"
                        ng-click="selectSpecies(s, $event)">
                    <a href="" data-speciesid="{{s.id}}">{{s.vernacularName}}</a>
                    </li>
                    <hr/>
                    <li ng-if="isSpeciesAddable(speciesQuery) && userState.currentUser">
                        <a id="add-species-link" href="" ng-click="addSpecies(speciesQuery)">
                            <span class="glyphicon glyphicon-plus"></span>
                            {{'msg.add-species' | translate:speciesQuery }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="garden-frame" class="col-xs-9 no-select full-height">
            <ul class="nav nav-tabs" role="tablist">
                <li class="select-year" ng-class="{active: year == garden.selectedYear}" ng-repeat="year in garden.getAvailableYears()">
                    <a href="" ng-click="garden.selectedYear = year">
                        {{year}}
                    </a>
                </li>
                <li>
                    <a id="add-year-link" href="" ng-click="openAddYearModal()">
                        <span class="glyphicon glyphicon-plus"></span>{{'addyear' | translate}}
                    </a>
                </li>
                <li facebook ng-model="userState.currentUser.username">
                </li>
                <li twitter ng-model="userState.currentUser.username">
                </li>
                <li ng-if="userState.currentUser.username">
                    <a href="http://smigo.org/wall/{{userState.currentUser.username}}" target="_blank">
                        <span class="glyphicon glyphicon-link" style="color: gray;"></span>&nbsp;</a>
                </li>
            </ul>
            <div class="edit-grid-wrapper" ng-include="'grid.html'"></div>
        </div>
    </div>
</div>