<div class="container-fluid full-height">
    <div class="row full-height">
        <div id="species-frame" class="col-xs-3 full-height">
            <div class="species-wrapper">
                <!--##### View, Add, Delete button #####-->
                <div class="btn-group btn-group-justified" id="scroll-top">
                    <div class="btn-group">
                        <button type="button" class="btn btn-block btn-default" ng-class="{'btn-info': speciesState.action == 'info'}"
                                ng-click="speciesState.action = 'info'" title="{{'view' | translate}}"
                                uib-tooltip="{{'view' | translate}}" tooltip-placement="bottom" tooltip-trigger="click">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            <span class="visible-lg-inline" so-msg="view"></span>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-block btn-default" ng-class="{'btn-success': speciesState.action == 'add'}"
                                ng-click="speciesState.action = 'add'" title="{{'add' | translate}}"
                                uib-tooltip="{{'add' | translate}}" tooltip-placement="bottom" tooltip-trigger="click">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                            <span class="visible-lg-inline" so-msg="add"></span>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-block btn-default" ng-class="{'btn-danger': speciesState.action == 'delete'}"
                                ng-click="speciesState.action = 'delete'" title="{{'delete' | translate}}"
                                uib-tooltip="{{'delete' | translate}}" tooltip-placement="bottom" tooltip-trigger="click">
                            <span class="glyphicon glyphicon-remove-sign"></span>
                            <span class="visible-lg-inline" so-msg="delete"></span>
                        </button>
                    </div>
                </div>
                <hr/>
                <!--##### Search field #####-->
                <form class="navbar-form" ng-submit="selectedSpeciesFromTopResult(search,$event)">
                    <input class="form-control full-width" ng-class="{loadinggif: search.proccessing}" type="text" id="add-search-input"
                           placeholder="{{'search' | translate}} / {{'add' | translate}}" ng-model="search.query" ng-change="searchSpecies(search)" so-focus-on-key-pressed=""
                           uib-tooltip="{{'msg.pressentertoselect' | translate:getTopResult(search.query)}}" tooltip-trigger="focus" tooltip-enable="pressEnterToSelectTooltipEnable">
                </form>
                <!--##### Species list #####-->
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="s in speciesState.speciesArray | speciesFilter:search.query" id="select-species-{{s.id}}"
                        ng-class="{active: speciesState.selectedSpecies.id === s.id && speciesState.action == 'add'}"
                        ng-click="selectSpecies(s, $event)">
                        <a class="select-species-link" href=""
                           uib-tooltip="{{'msg.clickagaintoopen'|translate}}" tooltip-trigger="click" tooltip-enable="clickAgainToOpenTooltipEnable"
                           ng-click="openSpeciesModal(s)">{{getVernacular(s.id).vernacularName}} {{s.variety ? ' - ':''}} {{s.variety.name}}</a>
                    </li>
                </ul>
                <hr/>
                <!--##### Add species button #####-->
                <div class="has-error">
                    <span ng-repeat="error in search.objectErrors" class="help-block">{{error.defaultMessage | translate:error.arguments:search.query}}</span>
                </div>
                <button ng-click="addSpecies(search)" class="btn btn-primary" ng-disabled="search.pendingAdd" ng-if="search.query" id="add-species-button">
                    <span class="glyphicon glyphicon-plus"></span> {{'msg.add-species' | translate:search.query }}
                </button>
                <img ng-if="search.pendingAdd" ng-src="http://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2-spinner.gif"/>
            </div>
        </div>
        <div id="garden-frame" class="col-xs-9 no-select full-height">
            <div class="row">
                <div class="col-xs-6">
                    <ul class="nav nav-pills" role="tablist">

                        <!--#### Select previous year ####-->
                        <li class="hidden-xs" ng-class="{disabled:!garden.yearSquareMap[garden.selectedYear-1]}">
                            <a ng-if="garden.yearSquareMap[garden.selectedYear-1]" href="" ng-click="garden.selectedYear = garden.selectedYear - 1">
                                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                            </a>
                            <a ng-if="!garden.yearSquareMap[garden.selectedYear-1]">
                                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                            </a>
                        </li>

                        <!--#### Year selector ####-->
                        <li class="dropdown" uib-dropdown>
                            <a href="" class="dropdown-toggle" uib-dropdown-toggle>
                                {{garden.selectedYear}}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="select-year" ng-class="{active: year == garden.selectedYear}" ng-repeat="year in garden.getAvailableYears()">
                                    <a href="" ng-click="garden.selectedYear = year">
                                        {{year}}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <!--#### Add year link 1 ####-->
                                <li>
                                    <a href="" ng-click="openAddYearModal()" so-msg="addyear"></a>
                                </li>
                            </ul>
                        </li>

                        <!--#### Select next year ####-->
                        <li class="hidden-xs" ng-class="{disabled:!garden.yearSquareMap[garden.selectedYear+1]}">
                            <a ng-if="garden.yearSquareMap[garden.selectedYear+1]" href="" ng-click="garden.selectedYear = garden.selectedYear + 1">
                                <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                            </a>
                            <a ng-if="!garden.yearSquareMap[garden.selectedYear+1]">
                                <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                            </a>
                        </li>

                        <!--#### Add year link 2 ####-->
                        <li class="hidden-xs hidden-sm">
                            <a id="add-year-link" href="" ng-click="openAddYearModal()">
                                <span class="glyphicon glyphicon-plus"></span> <span so-msg="addyear"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-offset-1 col-sm-offset-0 col-xs-5 dropdown" uib-dropdown ng-if="userState.currentUser.username">
                    <a href="#" class="btn btn-default btn-sm pull-right dropdown-toggle text-uppercase" uib-dropdown-toggle>
                        <span class="glyphicon glyphicon-share-alt"></span> <span so-msg="msg.share"></span></a>
                    <ul class="dropdown-menu pull-right">
                        <li facebook ng-model="userState.currentUser.username">
                        </li>
                        <li>
                            <a href="http://www.reddit.com/submit?url=http://smigo.org/gardener/{{userState.currentUser.username}}&title=This is my garden planning. Tell me what you think." target="_blank"><span class="social-sprite reddit"></span>&nbsp;Reddit</a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/share?url=http://smigo.org/gardener/{{userState.currentUser.username}}" target="_blank"><span class="social-sprite google"></span>&nbsp;Google</a>
                        </li>
                        <li twitter ng-model="userState.currentUser.username">
                        </li>
                        <li>
                            <a href="/gardener/{{userState.currentUser.username}}">
                                <span class="glyphicon glyphicon-link"></span>&nbsp;<span so-msg="msg.link"></span></a>
                        </li>
                    </ul>
                </div>
                <div class="edit-grid-wrapper" so-grid="garden" so-grid-mutable="true"></div>
            </div>
        </div>
    </div>
</div>