<div class="container-fluid full-height">
    <div class="row full-height">
        <div class="species-hover">
            <div class="popover right in fade " ng-class="{show:showSpeciesInfo}" ng-if="hoveredSpecies">
                <div class="popover-inner">
                    <div class="popover-title text-center">
                        {{hoveredSpecies.vernacularName}}
                        <img class="small-species" ng-src="{{'/static/species/' + hoveredSpecies.iconFileName}}"/>
                    </div>

                    <div class="popover-content" ng-if="hoveredSpecies.item">
                        {{'msg.itemexplained' | translate}}
                    </div>
                    <div class="popover-content" ng-if="!hoveredSpecies.item">
                    <span>{{'scientificname'|translate}}:</span><em> {{hoveredSpecies.scientificName}}</em><br/>
                        <span>{{'family'|translate}}:</span><em> {{hoveredSpecies.family | translate}}</em><br/>
                        <ul>
                            <li ng-repeat="r in hoveredSpecies.rules | sortruleFilter">
                                {{r | translate:r.parameterMessageObject}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="species-frame" class="col-xs-3 full-height">
            <div class="species-wrapper">
                <div class="btn-group full-width">
                    <div class="row">
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-block btn-default" ng-class="{active: speciesState.action == 'info'}"
                                    ng-click="speciesState.action ='info'" title="{{'msg.view-square.description' | translate}}">
                                <span class="glyphicon glyphicon-info-sign"></span> {{'msg.view-square.title' | translate}}
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-block btn-default" ng-class="{active: speciesState.action == 'delete'}"
                                    ng-click="speciesState.action ='delete'" title="{{'msg.deletesquare.description' | translate}}">
                                <span class="glyphicon glyphicon-remove"></span> {{'deletesquare' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <hr/>
                <form class="navbar-form" ng-submit="selectedSpeciesFromTopResult(speciesQuery)">
                    <input class="form-control full-width" type="text" placeholder="{{'search' | translate}}" ng-model="speciesQuery" ng-change="searchSpecies(speciesQuery)">
                </form>
                <ul class="nav nav-pills nav-stacked" ng-mouseenter="showSpeciesInfo=true" ng-mouseleave="showSpeciesInfo=false">
                    <li ng-repeat="s in speciesState.speciesArray | speciesFilter:speciesQuery"
                        ng-class="{active: speciesState.selectedSpecies.id === s.id && speciesState.action == 'add'}"
                        ng-click="selectSpecies(s)">
                        <a href="" ng-mouseover="setHoveredSpecies($event,s)">{{s.vernacularName}}</a>
                    </li>
                    <hr/>
                    <li ng-if="isSpeciesAddable(speciesQuery) && userState.currentUser">
                        <a id="add-species-link" href="" ng-click="addSpecies(speciesQuery)">
                            <span class="glyphicon glyphicon-plus"></span>
                            {{'msg.add-species' | translate:speciesQuery }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="garden-frame" class="col-xs-9 no-select full-height">
            <ul class="nav nav-tabs" role="tablist">
                <li class="select-year" ng-class="{active: year == plantsState.selectedYear}" ng-repeat="year in plantsState.availableYears">
                    <a href="" ng-click="selectYear(year)">
                        {{year}}
                    </a>
                </li>
                <li>
                    <a id="add-year-link" href="" ng-click="openAddYearModal()">
                        <span class="glyphicon glyphicon-plus"></span>{{'addyear' | translate}}
                    </a>
                </li>
                <li facebook ng-model="userState.currentUser.username">
                </li>
                <li twitter ng-model="userState.currentUser.username">
                </li>
                <li ng-if="userState.currentUser.username">
                    <a href="http://smigo.org/wall/{{userState.currentUser.username}}" target="_blank">
                        <span class="glyphicon glyphicon-link" style="color: gray;"></span>&nbsp;</a>
                </li>
            </ul>
            <div class="edit-grid-wrapper" ng-include="'grid.html'"></div>
        </div>
    </div>
</div>