<div class="container-fluid full-height">
    <div class="row full-height">
        <div id="species-frame" class="col-xs-3 full-height">
            <div class="species-wrapper">
                <!--##### View, Add, Delete button #####-->
                <div class="btn-group btn-group-justified">
                    <div class="btn-group">
                        <button type="button" class="btn btn-block btn-default" ng-class="{'btn-info': speciesState.action == 'info'}"
                                ng-click="speciesState.action = 'info'" title="{{'msg.view-square.title' | translate}}"
                                uib-tooltip="{{'msg.view-square.title' | translate}}" tooltip-placement="bottom" tooltip-trigger="click">
                            <span class="glyphicon glyphicon-info-sign"></span><span class="visible-lg-inline"> {{'msg.view-square.title' | translate}}</span>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-block btn-default" ng-class="{'btn-success': speciesState.action == 'add'}"
                                ng-click="speciesState.action = 'add'" title="{{'msg.add-square.title' | translate}}"
                                uib-tooltip="{{'msg.add-square.title' | translate}}" tooltip-placement="bottom" tooltip-trigger="click">
                            <span class="glyphicon glyphicon-plus-sign"></span><span class="visible-lg-inline"> {{'msg.add-square.title' | translate}}</span>
                        </button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-block btn-default" ng-class="{'btn-danger': speciesState.action == 'delete'}"
                                ng-click="speciesState.action = 'delete'" title="{{'msg.deletesquare.title' | translate}}"
                                uib-tooltip="{{'msg.deletesquare.title' | translate}}" tooltip-placement="bottom" tooltip-trigger="click">
                            <span class="glyphicon glyphicon-remove-sign"></span><span class="visible-lg-inline"> {{'msg.deletesquare.title' | translate}}</span>
                        </button>
                    </div>
                </div>
                <hr/>
                <!--##### Search field #####-->
                <form class="navbar-form" ng-submit="selectedSpeciesFromTopResult(search.query)">
                    <input class="form-control full-width" ng-class="{loadinggif: search.proccessing}" type="text" placeholder="{{'search' | translate}}" ng-model="search.query" ng-change="searchSpecies(search)">
                </form>
                <!--##### Species list #####-->
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="s in speciesState.speciesArray | speciesFilter:search.query"
                        ng-class="{active: speciesState.selectedSpecies.id === s.id && speciesState.action == 'add'}"
                        ng-click="selectSpecies(s, $event)">
                        <a class="select-species-link" href=""
                           uib-tooltip="{{'msg.clickagaintoopen'|translate}}" tooltip-trigger="click" tooltip-enable="clickAgainToOpenTooltipEnable"
                           ng-click="openSpeciesModal(s)">{{s.vernacularName}}</a>
                    </li>
                    <hr/>
                    <!--##### Add species link #####-->
                    <li ng-if="isSpeciesAddable(search.query) && userState.currentUser">
                        <a id="add-species-link" href="" ng-click="addSpecies(search.query)">
                            <span class="glyphicon glyphicon-plus"></span>
                            {{'msg.add-species' | translate:search.query }}
                        </a>
                    </li>
                    <li ng-if="speciesState.pendingAdd" class="loadinggif">
                        <a>
                            <span class="glyphicon glyphicon-plus"></span>
                            {{'msg.adding' | translate:search.query }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="garden-frame" class="col-xs-9 no-select full-height">
            <div class="row">
                <div class="col-xs-6">
                    <ul class="nav nav-pills" role="tablist">

                        <!--#### Select previous year ####-->
                        <li class="hidden-xs" ng-class="{disabled:!garden.yearSquareMap[garden.selectedYear-1]}">
                            <a ng-if="garden.yearSquareMap[garden.selectedYear-1]" href="" ng-click="garden.selectedYear = garden.selectedYear - 1">
                                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                            </a>
                            <a ng-if="!garden.yearSquareMap[garden.selectedYear-1]">
                                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                            </a>
                        </li>

                        <!--#### Year selector ####-->
                        <li class="dropdown" uib-dropdown>
                            <a href="" class="dropdown-toggle" uib-dropdown-toggle>
                                {{garden.selectedYear}}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="select-year" ng-class="{active: year == garden.selectedYear}" ng-repeat="year in garden.getAvailableYears()">
                                    <a href="" ng-click="garden.selectedYear = year">
                                        {{year}}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <!--#### Add year link 1 ####-->
                                <li>
                                    <a href="" ng-click="openAddYearModal()">
                                        {{'addyear' | translate}}
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!--#### Select next year ####-->
                        <li class="hidden-xs" ng-class="{disabled:!garden.yearSquareMap[garden.selectedYear+1]}">
                            <a ng-if="garden.yearSquareMap[garden.selectedYear+1]" href="" ng-click="garden.selectedYear = garden.selectedYear + 1">
                                <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                            </a>
                            <a ng-if="!garden.yearSquareMap[garden.selectedYear+1]">
                                <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                            </a>
                        </li>

                        <!--#### Add year link 2 ####-->
                        <li class="hidden-xs hidden-sm">
                            <a id="add-year-link" href="" ng-click="openAddYearModal()">
                                <span class="glyphicon glyphicon-plus"></span>{{'addyear' | translate}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-offset-1 col-sm-offset-0 col-xs-5 dropdown" uib-dropdown ng-if="userState.currentUser.username">
                    <a href="#" class="btn btn-default btn-sm pull-right dropdown-toggle text-uppercase" uib-dropdown-toggle>
                        <span class="glyphicon glyphicon-share-alt"></span> {{'msg.share' | translate}}</a>
                    <ul class="dropdown-menu pull-right">
                        <li facebook ng-model="userState.currentUser.username">
                        </li>
                        <li>
                            <a href="http://www.reddit.com/submit?url=http://smigo.org/wall/{{userState.currentUser.username}}&title=This is my garden planning. Tell me what you think." target="_blank"><span class="social-sprite reddit"></span>&nbsp;Reddit</a>
                        </li>
                        <li>
                            <a href="https://plus.google.com/share?url=http://smigo.org/wall/{{userState.currentUser.username}}" target="_blank"><span class="social-sprite google"></span>&nbsp;Google</a>
                        </li>
                        <li twitter ng-model="userState.currentUser.username">
                        </li>
                        <li>
                            <a href="/wall/{{userState.currentUser.username}}">
                                <span class="glyphicon glyphicon-link"></span>&nbsp;{{'msg.link'|translate}}</a>
                        </li>
                    </ul>
                </div>
                <div class="edit-grid-wrapper" so-grid="garden" so-grid-mutable="true"></div>
            </div>
        </div>
    </div>
</div>