<div class="container">
    <div class="page-header text-center">
        <h1>
            {{'general.faq' | translate}}
        </h1>
    </div>

    <h3>{{'msg.question.whatisthis' | translate}}</h3>
    <p>-{{'msg.answer.whatisthis' | translate}}</p>

    <h3>{{'msg.question.howdoesitwork' | translate}}</h3>
    <p>
        {{'msg.answer.howdoesitwork1' | translate}}<br/>
        {{'msg.answer.howdoesitwork2' | translate}}<br/>
        {{'msg.answer.howdoesitwork3' | translate}}<br/>
        {{'msg.answer.howdoesitwork4' | translate}}<br/>
        <a href="/wall/example">{{'msg.viewexample' | translate}}</a>
    </p>

    <h3>{{'msg.question.howdelete' | translate}}</h3>
    <p>-{{'msg.answer.howdelete' | translate}}</p>

    <h3>{{'msg.question.isitfree' | translate}}</h3>
    <p>-{{'msg.answer.isitfree' | translate}}</p>

    <h3>{{'msg.question.other' | translate}}</h3>
    <p>-{{'msg.answer.other' | translate}}</p>

    <div class="media">
        <a class="pull-left" href="mailto:christian1195@gmail.com" target="_blank"><span class="social-sprite email"></span></a>
        <a class="pull-left" href="https://www.facebook.com/smigogarden" target="_blank"><span class="social-sprite facebook"></span></a>
        <a class="pull-left" href="https://www.twitter.com/smigogarden" target="_blank"><span class="social-sprite twitter"></span></a>
        <a class="pull-left" href="http://se.linkedin.com/pub/christian-nilsson/3b/798/a5b/" target="_blank"><span class="social-sprite linkedin"></span></a>
        <a class="pull-left" href="http://www.reddit.com/r/smigo" target="_blank"><span class="social-sprite reddit"></span></a>
    </div>

    <div class="page-header text-center">
        <h1>
            TODO - Suggested features
        </h1>
    </div>

    <ul>
        <li>Add reference to companion rules and disable unvalid rules or completly remove them.</li>
        <li>Improve support for small devices.</li>
        <li>Create more beautiful icons to achive a uniform look.</li>
        <li>Your suggestion is welcome...</li>
    </ul>

    <div class="page-header text-center">
        <h1>
            {{'msg.knownbugs' | translate}}
        </h1>
    </div>

    <ul>
        <li>Firefox does not display a grid. This is because background-attachment can not be set to scroll in FF.</li>
        <li>Adding several years without adding plants results in no grid.</li>
    </ul>

    <p class="text-center">
        <a target="_blank" href=/static/version-history.html>Version history</a>
    </p>

</div>