<div class="jumbotron" style="text-align: center;">
    <div class="container">

        <h1>{{'msg.front.header'|translate}}</h1>
        <p>
            {{'msg.front.intro'|translate}}
        </p>
        <p><a class="btn btn-primary btn-lg" href="/garden" role="button">{{'msg.front.tryit'|translate}}</a></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>{{'msg.front.head1'|translate}}</h2>
            <p>{{'msg.front.desc1'|translate}}</p>
        </div>
        <div class="col-md-4">
            <h2>{{'msg.front.head2'|translate}}</h2>
            <p>{{'msg.front.desc2'|translate}}</p>
        </div>
        <div class="col-md-4">
            <img ng-src="/static/icon/snapshot.png" alt="vegetable garden layout" class="img-rounded full-width">
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 hidden-xs hidden-sm">
            <img ng-src="/static/icon/kitchengarden.jpg" alt="kitchen garden" class="img-rounded full-width">
        </div>
        <div class="col-md-8">
            <h2>{{'msg.front.head3'|translate}}</h2>
            <p>{{'msg.front.desc3a'|translate}} <a href="https://github.com/nosslin579/smigo">Github</a></p>
            <p>{{'msg.front.desc3b'|translate}}</p>
        </div>
    </div>
    <div ng-include="'footer.html'"></div>
</div>
