<div class="container">
    <div class="page-header text-center">
        <h1>{{viewModel.pageMessageKey | translate}}</h1>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <h3>{{'msg.useanotheraccount' | translate}}</h3>

            <div>
                <a onClick="$('#facebookSignin').submit()" href="" class="list-group-item"><span class="social-sprite facebook" style="margin-right: 10px;"></span>Facebook</a>
                <a onClick="$('#yahooOpenId').submit()" href="" class="list-group-item"><span class="social-sprite yahoo" style="margin-right: 10px;"></span>Yahoo</a>
                <a ng-click="requestFeature('google-sign-in')" href="" class="list-group-item"><span class="social-sprite google" style="margin-right: 10px;"></span>Google</a>
                <a ng-click="requestFeature('twitter-sign-in')" href="" class="list-group-item"><span class="social-sprite twitter" style="margin-right: 10px;"></span>Twitter</a>
            </div>

            <form name="fb_signin" id="facebookSignin" action="/auth/facebook" method="POST">
                <input type="hidden" name="scope" value="public_profile,email"></input>
            </form>

            <form action="login-openid" id="googleOpenId" method="post">
                <input type="hidden" name="openid_identifier" value="https://www.google.com/accounts/o8/id"/>
                <input type="hidden" name="remember-me" value="true">
            </form>

            <form action="login-openid" id="yahooOpenId" method="post">
                <input type="hidden" name="openid_identifier" value="https://me.yahoo.com"/>
                <input type="hidden" name="remember-me" value="true">
            </form>

            <hr/>

            <form action="login-openid" method="POST" role="form">
                <input type="hidden" name="remember-me" value="true">

                <div class="form-group">
                    <label for="openid-url">Open Id URL</label>
                    <input required placeholder="https://openid.net/" class="form-control" id="openid-url" type="text" size="30" name="openid_identifier"/>
                </div>
                <div class="form-group">
                    <button name="submit" type="submit" class="btn btn-default">{{viewModel.pageMessageKey | translate}}</button>
                </div>
            </form>
        </div>

        <div class="col-sm-5 col-sm-offset-2">
            <h3>{{'msg.usesmigoaccount' | translate}}</h3>

            <form name="loginOrRegisterform" role="form" novalidate="" ng-submit="submitLoginOrRegisterForm(loginOrRegisterform,formModel,widgetId)">
                <div class="has-error">
                    <span ng-repeat="error in loginOrRegisterform.objectErrors" id="{{error.objectName}}" class="help-block">{{error.defaultMessage | translate}}</span>
                </div>

                <div class="form-group" ng-class="{'has-error':loginOrRegisterform.username.$invalid && (loginOrRegisterform.username.$dirty || loginOrRegisterform.submitted)}">
                    <label for="username">{{'username' | translate}}</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="{{'username' | translate}}"
                           ng-model="formModel.username" ng-required="true" ng-minlength="{{viewModel.usernameMin}}"
                           ng-maxlength="{{viewModel.usernameMax}}" ng-pattern="viewModel.usernamePattern"/>

                    <div ng-if="loginOrRegisterform.username.$dirty || loginOrRegisterform.submitted">
                        <span ng-show="loginOrRegisterform.username.$error.required" class="help-block">{{'msg.required' | translate}}</span>
                        <span ng-show="loginOrRegisterform.username.$error.minlength" class="help-block">{{'msg.minlength' | translate:5}}</span>
                        <span ng-show="loginOrRegisterform.username.$error.maxlength" class="help-block">{{'msg.maxlength' | translate:40}}</span>
                        <span ng-show="loginOrRegisterform.username.$error.pattern" class="help-block">{{'msg.usecharactersonly' | translate}}</span>
                    </div>
                </div>

                <div class="form-group" ng-class="{'has-error':loginOrRegisterform.password.$invalid && (loginOrRegisterform.password.$dirty || loginOrRegisterform.submitted)}">
                    <label for="password">{{'password' | translate}}</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="{{'password' | translate}}"
                           ng-model="formModel.password" ng-required="true" ng-minlength="{{viewModel.passwordMin}}"/>

                    <div ng-if="loginOrRegisterform.password.$dirty || loginOrRegisterform.submitted">
                        <span ng-show="loginOrRegisterform.password.$error.required" class="help-block">{{'msg.required' | translate}}</span>
                        <span ng-show="loginOrRegisterform.password.$error.minlength" class="help-block">{{'msg.minlength' | translate:6}}</span>
                    </div>
                </div>

                <div class="form-group" ng-if="viewModel.register" ng-class="{'has-error':loginOrRegisterform.passwordagain.$invalid && loginOrRegisterform.passwordagain.$dirty}">
                    <label for="password-again">{{'passwordagain' | translate}}</label>
                    <input type="password" class="form-control" id="password-again" name="passwordagain" placeholder="{{'passwordagain' | translate}}"
                           ng-model="passwordAgain" equals="{{formModel.password}}"/>

                    <div ng-if="loginOrRegisterform.passwordagain.$dirty">
                        <span ng-show="loginOrRegisterform.passwordagain.$error.equals" class="help-block">{{'msg.entersamevalueagain' | translate}}</span>
                    </div>
                </div>

                <div class="form-group" ng-if="viewModel.register">
                    <div id="recaptcha"></div>
                </div>

                <div class="form-group checkbox" ng-if="viewModel.register" ng-class="{'has-error':loginOrRegisterform.termsOfService.$invalid && loginOrRegisterform.submitted}">
                    <label for="termsOfService" class="checkbox">
                        <input type="checkbox" id="termsOfService" name="termsOfService" ng-model="formModel.termsOfService" required/>
                        {{'msg.agreetos' | translate}}
                        <a target="_blank" href=/static/terms-of-service.html>{{'termsofservice' | translate}}</a>
                    </label>
                    <span ng-show="loginOrRegisterform.termsOfService.$error.required && loginOrRegisterform.submitted" class="help-block">{{'msg.required' | translate}}</span>
                </div>

                <div class="form-group checkbox" ng-if="viewModel.login">
                    <label for="remember-me" class="checkbox">
                        <input type="checkbox" id="remember-me" name="remember-me" ng-model="formModel['remember-me']"/>
                        {{'msg.rememberme' | translate}}
                    </label>
                </div>

                <button type="submit" class="btn btn-default" ng-class="{disabled: loginOrRegisterform.processing}" id="submit-login-register-form">{{viewModel.pageMessageKey | translate}}</button>
                <img ng-if="loginOrRegisterform.processing" ng-src="http://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2-spinner.gif"/>
            </form>

            <div ng-if="viewModel.login">
                <a id="request-password-link" class="pull-right" href="/request-password-link">{{'msg.forgotpassword' | translate}}</a>
            </div>

        </div>
    </div>

</div>