<div class="container big-text">
    <div class="row">
        <div class="col-sm-offset-1 col-sm-8">
            <div class="page-header">
                <h1 class="text-center">
                {{'rule'|translate}}
                </h1>
            </div>
            <dl class="dl-horizontal">
                <dt>{{'type'|translate}}:</dt>
                <dd>{{rule | translate}}</dd>
                <dd>{{'rule.'+rule.category+'.expl'|translate:[host,rule.arg]}}</dd>
                <dt>{{'general.species'|translate}}:</dt>
                <dd>{{host | translate}}</dd>
                <dt>{{'msg.companion'|translate}}:</dt>
                <dd>{{rule.arg | translate}}</dd>
            </dl>
            <dl class="dl-horizontal">

                <dt>{{'msg.impact' | translate}}</dt>
                <dd ng-repeat="i in rule.impacts">
                {{'msg.impact'+i|translate}}
                </dd>

                <dd>
                    <button class="btn btn-default btn-sm" ng-click="requestFeature('add-impact')">{{'add'|translate}}</button>
                </dd>
            </dl>


        </div>
    </div>
</div>