<div class="container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div class="page-header">
                <h1>
                    <img ng-src="{{'/static/species/' + species.iconFileName}}"/>
                </h1>
            </div>
            <div ng-if="species.item">
                {{'msg.itemexplained' | translate}}
            </div>

            <div ng-if="species.scientificName">
                <strong>{{'scientificname'|translate}}:</strong><em> {{species.scientificName}}</em>
            </div>
            <div ng-if="species.family">
                <strong>{{'family'|translate}}:</strong> {{species.family | translate}} -
                <em>{{species.family.name}}</em>
            </div>

            <p>

            <h3>{{'rules'|translate}}
            <button class="btn btn-default btn-xs" ng-click="requestFeature('add-rule')">{{'add'|translate}}</button>
            </h3>

            <div ng-if="species.rules.smigoFind('goodcompanion','category') != null">
                <strong>{{'rule.goodcompanion'|translate}}</strong>
                <ul>
                    <li ng-repeat="r in species.rules | filter:{category:'goodcompanion'} | orderBy:'host'">
                        <a  href="/species/{{r.arg.id}}">{{r.hint.messageParameter | translate}}</a>
                        <a class="text-muted" href="/rule/{{r.id}}" title="{{'edit' | translate}}"><span class="glyphicon glyphicon-edit"></span></a>
                    </li>
                </ul>
            </div>

            <div ng-if="species.rules.smigoFind('badcompanion','category') != null">
                <strong>{{'rule.badcompanion'|translate}}</strong>
                <ul>
                    <li ng-repeat="r in species.rules | filter:{category:'badcompanion'}">
                        <a  href="/species/{{r.arg.id}}">{{r.hint.messageParameter | translate}}</a>
                        <a class="text-muted" href="/rule/{{r.id}}" title="{{'edit' | translate}}"><span class="glyphicon glyphicon-edit"></span></a>
                    </li>
                </ul>
            </div>
            <div ng-if="species.rules.smigoFind('goodcroprotation','category') != null">
                <strong>{{'rule.goodcroprotation'|translate}}</strong>
                <ul >
                    <li ng-repeat="r in species.rules | filter:{category:'goodcroprotation'}">
                        {{r.hint.messageParameter[1] | translate}}
                    </li>
                </ul>
            </div>
            <div ng-if="species.rules.smigoFind('badcroprotation','category') != null">
                <strong>{{'rule.badcroprotation'|translate}}</strong>
                <ul >
                    <li ng-repeat="r in species.rules | filter:{category:'badcroprotation'}">
                        {{r.hint.messageParameter | translate}}
                    </li>
                </ul>
            </div>
            <div ng-if="species.rules.smigoFind('speciesrepetition','category') != null">
                <strong>{{'rule.croprotation'|translate}}</strong>
                <ul>
                    <li>{{'rule.speciesrepetition' | translate:species.rules.smigoFind('speciesrepetition','category').hint.messageParameter}}</li>
                </ul>
            </div>
            </p>
        </div>
    </div>
</div>