<div class="popover right in fade show">
<div class="popover-inner">
        <div class="popover-title text-center">
            {{species.vernacularName}}
            <img class="small-species" ng-src="{{'/static/species/' + species.iconFileName}}"/>
        </div>

        <div class="popover-content" ng-if="species.item">
            {{'msg.itemexplained' | translate}}
        </div>
        <div class="popover-content" ng-if="!species.item">
            <span>{{'scientificname'|translate}}:</span><em> {{species.scientificName}}</em><br/>
            <span>{{'family'|translate}}:</span><em> {{species.family | translate}}</em><br/>
            <ul>
                <li ng-repeat="r in species.rules | orderBy:'type'">
                    {{r | translate}}
                </li>
            </ul>
        </div>
    </div>
</div>