<div class="popover right in fade show">
    <div class="popover-inner">
        <div class="popover-title text-center">
            <img class="small-species" ng-src="{{'/static/species/' + species.iconFileName}}"/>
            <a href="/species/{{species.id}}"><strong style="padding-right: 20px;">{{species.vernacularName}}</strong></a>
            <button type="button" class="close" style="color: #000">
                <span>&times;</span>
            </button>

        </div>

        <div class="popover-content" ng-if="species.item">
            {{'msg.itemexplained' | translate}}
        </div>
        <div class="popover-content" ng-if="!species.item">
            <div ng-if="species.scientificName">
                <strong>{{'scientificname'|translate}}:</strong><em> {{species.scientificName}}</em>
            </div>
            <div ng-if="species.family">
                <strong>{{'family'|translate}}:</strong> {{species.family | translate}} -
                <em>{{species.family.name}}</em>
            </div>


            <div ng-if="species.rules.find('goodcompanion','category') != null">
                <strong>{{'rule.goodcompanion'|translate}}: </strong>
                <span ng-repeat="r in species.rules | filter:{category:'goodcompanion'} | orderBy:'host'">
                    {{r.hint.messageParameter | translate}}{{$last ? '':','}}
                </span>
            </div>
            <div ng-if="species.rules.find('badcompanion','category') != null">
                <strong>{{'rule.badcompanion'|translate}}: </strong>
                <span ng-repeat="r in species.rules | filter:{category:'badcompanion'}">
                    {{r.hint.messageParameter | translate}}{{$last ? '':','}}
                </span>
            </div>
            <div ng-if="species.rules.find('goodcroprotation','category') != null">
                <strong>{{'rule.goodcroprotation'|translate}}: </strong>
                <span ng-repeat="r in species.rules | filter:{category:'goodcroprotation'}">
                    {{r.hint.messageParameter[1] | translate}}{{$last ? '':','}}
                </span>
            </div>
            <div ng-if="species.rules.find('badcroprotation','category') != null">
                <strong>{{'rule.badcroprotation'|translate}}: </strong>
                <span ng-repeat="r in species.rules | filter:{category:'badcroprotation'}">
                    {{r.hint.messageParameter | translate}}{{$last ? '':','}}
                </span>
            </div>
            <div ng-if="species.rules.find('speciesrepetition','category') != null">
                <strong>{{'rule.croprotation'|translate}}: </strong>
                <span>{{'rule.speciesrepetition' | translate:species.rules.find('speciesrepetition','category').hint.messageParameter}}</span>
            </div>
        </div>
    </div>
</div>