<div class="modal-header" ng-init="editVernacular={visible:false, name:species.vernacularName, locale:currentUser.locale};editIcon={field:'iconFileName'}">
    <button type="button" class="close" ng-click="$dismiss()">
        <span aria-hidden="true">&times;</span><span class="sr-only">{{'msg.close' | translate}}</span>
    </button>

    <!--#### Icon edit ####-->
    <h4 class="modal-title" ng-if="!editVernacular.visible">
        <div class="has-error">
            <span ng-repeat="error in editIcon.objectErrors" class="help-block">{{error.defaultMessage | translate:error.arguments:editIcon.errorName}}</span>
        </div>
        <span uib-dropdown on-toggle="toggled(open)" uib-tooltip="{{'msg.needmoderatorreview' | translate}}" tooltip-is-open="editIcon.displayModReview" tooltip-trigger="none" tooltip-placement="left">
          <a href id="simple-dropdown" uib-dropdown-toggle>
              <img ng-src="{{'/static/species/' + species.iconFileName}}" uib-tooltip="{{'msg.clicktoedit' | translate}}" tooltip-placement="bottom"/>
          </a>
          <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown" style="min-width: 118px">
              <li ng-repeat="iconName in ['1','2','4','6','7','8','9','10','11','12','13','15','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','42','43','44','45','47','48','49','50','51','53','54','57','59','61','63','65','66','68','69','70','72','73','79','84','85','87','88','89','93','94','97','99','100','102','103','104','105','107','108','109','115','116','118','120','121','122','123','124','125','126','127','128','129','130','131','132','133','134','135','136','137','138','139','140','141','142','143','144','145','146','147','148','149','150','151','152','153','154','155','156','157','158','159','160','161','173','174','179','180','182','183','184','defaulticon']">
                  <a href="" ng-click="updateSpecies(species,editIcon,iconName+'.png')"><img ng-src="{{'/static/species/' + iconName + '.png'}}"/></a>
              </li>
          </ul>
        </span>
        <!--#### Vernacular primary title ####-->
        <strong ng-click="editVernacular.visible=true" id="editable-vernacular-title" uib-tooltip="{{'msg.clicktoedit' | translate}}" tooltip-placement="bottom">{{species.vernacularName}}</strong>
        <span uib-tooltip="{{'msg.needmoderatorreview' | translate}}" tooltip-is-open="editVernacular.displayModReview" tooltip-trigger="none" tooltip-placement="right">&#8288;</span><!--WORD JOINER (U+2060)-->
    </h4>

    <!--#### Vernacular primary form ####-->
    <form id="edit-vernacular-form" class="form-inline" ng-submit="addVernacularName(species, editVernacular)" ng-if="editVernacular.visible">
        <div class="has-error">
            <span ng-repeat="error in editVernacular.objectErrors" class="help-block">{{error.defaultMessage | translate:error.arguments:editVernacular.errorName}}</span>
        </div>
        <div class="form-group" ng-class="{'has-error':editVernacular.objectErrors}">
            <label for="edit-vernacular-input"><img ng-src="{{'/static/species/' + species.iconFileName}}"/></label>
            <!-- Do not close modal on escape(27) if edit is in focus. -->
            <input class="form-control" type="text" id="edit-vernacular-input" autofocus autocomplete="off"
                   ng-model="editVernacular.name" ng-blur="editVernacular.visible=false" ng-keydown="$event.which === 27 && !($event.preventDefault()) && (editVernacular.visible = false)">
        </div>
    </form>
</div>

<div class="modal-body" ng-if="!species.item && !species.deleted">

    <div ng-init="vernacularOtherEdit={visible:false, name:'', locale:currentUser.locale}"></div>

    <!--#### Vernacular other name ####-->
    <div ng-if="!vernacularOtherEdit.visible">
        <strong>{{'msg.aka' | translate}}: </strong>
        <!--First element in array is the primary thus excluding -->
        <span ng-click="vernacularOtherEdit.visible=true" uib-tooltip="{{'msg.clicktoedit' | translate}}"
              ng-if="!$first" ng-repeat="v in getVernaculars(species.id)">{{v.vernacularName}} </span>
        <a href="#" ng-click="vernacularOtherEdit.visible=true" ng-if="getVernaculars(species.id).length<=1">&lt;{{'edit' | translate}}&gt;</a>
        <!--WORD JOINER (U+2060)-->
        <span uib-tooltip="{{'msg.needmoderatorreview' | translate}}" tooltip-is-open="vernacularOtherEdit.displayModReview" tooltip-trigger="none" tooltip-placement="right">&#8288;</span>
    </div>


    <!--#### Vernacular other add/delete form ####-->
    <form id="add-vernacular-form" class="form-inline" ng-submit="addVernacularName(species, vernacularOtherEdit)" ng-if="vernacularOtherEdit.visible">
        <strong>{{'msg.aka' | translate}}: </strong><br/>
        <div class="has-error">
            <span ng-repeat="error in vernacularOtherEdit.objectErrors" class="help-block">{{error.defaultMessage | translate:error.arguments:vernacularOtherEdit.errorName}}</span>
        </div>
        <div class="form-group" ng-class="{'has-error':vernacularOtherEdit.objectErrors}">
            <ul class="nav nav-pills">
                <!--First element in array is the primary thus excluding -->
                <li role="presentation" ng-repeat="v in getVernaculars(species.id)">
                    <!--#### Vernacular other delete ####-->
                    <a tabindex="-1" ng-click="deleteVernacular(species, vernacularOtherEdit, v)" href="#">{{v.vernacularName}}
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                </li>
                <li role="presentation">&#8288;</li>
                <input class="form-control" type="text" id="add-vernacular-input" autofocus autocomplete="off" ng-model="vernacularOtherEdit.name" placeholder="{{'add' | translate}}"
                       ng-keydown="$event.which === 27 && !($event.preventDefault()) && (vernacularOtherEdit.visible = false)"><!-- Do not close modal on escape(27) if edit is in focus. -->
            </ul>
        </div>
        <hr/>
    </form>

    <div ng-init="editScientific={visible:false, value:species.scientificName, field:'scientificName'}"></div>

    <!--#### Scientific name ####-->
    <div ng-if="!editScientific.visible">
        <strong>{{'scientificname'|translate}}: </strong>
        <em ng-if="species.scientificName" id="editable-scientific-value" uib-tooltip="{{'msg.clicktoedit' | translate}}" tooltip-placement="top" ng-click="editScientific.visible=true">{{species.scientificName}}</em>
        <a href="#" ng-if="!species.scientificName" id="empty-scientific-value" ng-click="editScientific.visible=true">&lt;{{'edit' | translate}}&gt;</a>
        <span uib-tooltip="{{'msg.needmoderatorreview' | translate}}" tooltip-is-open="editScientific.displayModReview" tooltip-trigger="none" tooltip-placement="right">&#8288;</span><!--WORD JOINER (U+2060)-->
    </div>


    <!--#### Scientific form ####-->
    <form id="edit-scientific-form" class="form-inline" ng-submit="updateSpecies(species, editScientific)" ng-if="editScientific.visible">
        <div class="has-error">
            <span ng-repeat="error in editScientific.objectErrors" class="help-block">{{error.defaultMessage | translate:error.arguments:editScientific.errorName}}</span>
        </div>
        <div class="form-group" ng-class="{'has-error':editScientific.objectErrors}">
            <label for="edit-scientific-input">{{'scientificname'|translate}}: </label>
            <input class="form-control" type="text" id="edit-scientific-input" autofocus autocomplete="off"
                   ng-model="editScientific.value" ng-blur="editScientific.visible=false" ng-keydown="$event.which === 27 && !($event.preventDefault()) && (editScientific.visible = false)"><!-- Do not close modal on escape(27) if edit is in focus. -->
        </div>
    </form>

    <!--#### Family name ####-->
    <div ng-init="editFamily = {visible:false, field:'family', value:null}"></div>
    <div ng-if="!editFamily.visible">
        <strong>{{'family'|translate}}:</strong>
        <span ng-if="species.family" ng-click="editFamily.visible=true" id="editable-family-value" uib-tooltip="{{'msg.clicktoedit' | translate}}" tooltip-placement="top">{{species.family | translate}} - <em>{{species.family.name}}</em></span>
        <a href="#" ng-if="!species.family" ng-click="editFamily.visible=true">&lt;{{'edit' | translate}}&gt;</a>
        <span uib-tooltip="{{'msg.needmoderatorreview' | translate}}" tooltip-is-open="editFamily.displayModReview" tooltip-trigger="none" tooltip-placement="right">&#8288;</span><!--WORD JOINER (U+2060)-->
    </div>

    <!--#### Family form ####-->
    <form ng-if="editFamily.visible" class="form-inline" ng-submit="updateSpecies(species, editFamily)">
        <div class="has-error">
            <span ng-repeat="error in editFamily.objectErrors" class="help-block">{{error.defaultMessage | translate:error.arguments:editFamily.errorName}}</span>
        </div>
        <div class="form-group" ng-class="{'has-error':editFamily.objectErrors}">
            <label for="edit-family-select">{{'family'|translate}}:</label>
            <input id="edit-family-select" type="text" ng-model="editFamily.value" class="form-control" autofocus autocomplete="off" ng-blur="editFamily.visible=false"
                   uib-typeahead="state as state.name for state in [{id:7201,name:'Apiaceae'},{id:7202,name:'Alliaceae'},{id:7203,name:'Cucurbitaceae'},{id:7204,name:'Brassicaceae'},{id:7205,name:'Fabaceae'},{id:7206,name:'Solanaceae'},{id:7207,name:'Asteraceae'},{id:7208,name:'Poaceae'},{id:7209,name:'Amaranthaceae'},{id:7210,name:'Polygonaceae'},{id:7211,name:'Rosaceae'},{id:7212,name:'Asparagaceae'},{id:7214,name:'Boraginaceae'},{id:7215,name:'Lamiaceae'},{id:7216,name:'Plantaginaceae'},{id:7217,name:'Cannabaceae'},{id:7218,name:'Linaceae'},{id:7219,name:'Tropaeolaceae'},{id:7220,name:'Geraniaceae'},{id:7221,name:'Vitaceae'},{id:7222,name:'Convolvulaceae'},{id:7223,name:'Grossulariaceae'},{id:7224,name:'Ericaceae'},{id:7225,name:'Malvaceae'},{id:7226,name:'Iridaceae'},{id:7227,name:'Liliaceae'},{id:7228,name:'Papaveraceae'},{id:7229,name:'Valerianaceae'},{id:7230,name:'Aizoaceae'}] | filter:$viewValue | limitTo:8"
                   ng-keydown="$event.which === 27 && !($event.preventDefault()) && (editScientific.visible = false)"><!-- Do not close modal on escape(27) if edit is in focus. -->
        </div>
    </form>

    <hr/>

    <!--#### Varieties ####-->
    <div ng-init="editVariety={visible:false, name:''}">
        <strong>{{'msg.varieties'|translate}}:</strong>
        <ul class="nav nav-pills">
            <li ng-class="{active: species.variety==v}" role="presentation" ng-repeat="v in varieties | filter:{speciesId:species.id}:true | orderBy:'name'">
                <a tabindex="-1" ng-click="toggleVariety(v, species, $event)" href="#"
                   uib-tooltip="{{'msg.clicktoselect' | translate}}">{{v.name}}</a>
            </li>
        </ul>
        <button ng-click="editVariety.visible=true" class="btn btn-primary btn-sm" ng-if="!editVariety.visible" id="show-add-variety-button">
            <span class="glyphicon glyphicon-plus"></span> {{'add' | translate }}
        </button>
        <hr/>
        <form class="inline-form" ng-submit="addVariety(editVariety,species.id)" ng-if="editVariety.visible">
            <div class="has-error">
                <span ng-repeat="error in editVariety.objectErrors" class="help-block">{{error.defaultMessage | translate:error.arguments}}</span>
            </div>
            <div class="form-group" ng-class="{'has-error':editVariety.objectErrors}">
                <label for="add-variety-input">{{'msg.variety' | translate}}</label>
                <input class="form-control" type="text" id="add-variety-input" placeholder="{{'name' | translate}}" ng-model="editVariety.value">
            </div>
            <button type="submit" class="btn btn-default" id="submit-variety-button">{{'save' | translate}}</button>
            <button type="reset" class="btn btn-default" ng-click="editVariety.visible=false">{{'cancel' | translate}}</button>
            <hr/>
        </form>
    </div>


    <p>

    <div ng-if="species.rules.smigoFind('goodcompanion','category') != null">
        <strong>{{'rule.goodcompanion'|translate}}</strong>
        <ul>
            <li ng-repeat="r in species.rules | filter:{category:'goodcompanion'} | orderBy:'host'" ng-click="$close('Selected species')">
                <a href="" ng-click="selectSpecies(r.arg.id)">{{r.hint.messageParameter | translate}}</a>
            </li>
        </ul>
    </div>

    <div ng-if="species.rules.smigoFind('badcompanion','category') != null">
        <strong>{{'rule.badcompanion'|translate}}</strong>
        <ul>
            <li ng-repeat="r in species.rules | filter:{category:'badcompanion'}">
                <a href="/species/{{r.arg.id}}">{{r.hint.messageParameter | translate}}</a>
            </li>
        </ul>
    </div>
    <div ng-if="species.rules.smigoFind('goodcroprotation','category') != null">
        <strong>{{'rule.goodcroprotation'|translate}}</strong>
        <ul>
            <li ng-repeat="r in species.rules | filter:{category:'goodcroprotation'}">
                {{r.hint.messageParameter[1] | translate}}
            </li>
        </ul>
    </div>
    <div ng-if="species.rules.smigoFind('badcroprotation','category') != null">
        <strong>{{'rule.badcroprotation'|translate}}</strong>
        <ul>
            <li ng-repeat="r in species.rules | filter:{category:'badcroprotation'}">
                {{r.hint.messageParameter | translate}}
            </li>
        </ul>
    </div>
    <div ng-if="species.rules.smigoFind('speciesrepetition','category') != null">
        <strong>{{'rule.croprotation'|translate}}</strong>
        <ul>
            <li>{{'rule.speciesrepetition' | translate:species.rules.smigoFind('speciesrepetition','category').hint.messageParameter}}</li>
        </ul>
    </div>
    </p>
</div>

<div class="modal-body" ng-if="species.item">
    <div>
        {{'msg.itemexplained' | translate}}
    </div>
</div>

<div class="modal-body" ng-if="species.deleted">
    <div>
        {{'DELETED'}}
    </div>
</div>

<div class="modal-footer">
    <button ng-if="!species.deleted && currentUser.authority==='mod'" type="button" class="btn btn-danger" ng-click="deleteSpecies(species)" id="delete-species-modal-button">{{'delete' | translate}}</button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()" id="close-species-modal-button">{{'msg.close' | translate}}</button>
</div>