<div class="modal-header" ng-init="editVernacular={visible:false, name:species.vernacularName}">
    <button type="button" class="close" ng-click="$close()">
        <span aria-hidden="true">&times;</span><span class="sr-only">{{'msg.close' | translate}}</span>
    </button>
    <h4 class="modal-title" ng-if="!editVernacular.visible">
        <img ng-src="{{'/static/species/' + species.iconFileName}}"/>
        <span ng-click="editVernacular.visible=true">{{species.vernacularName}}</span>
    </h4>


    <form class="form-inline" ng-submit="setSpeciesTranslation(species, editVernacular, currentUser.locale)" ng-if="editVernacular.visible">
        <div class="has-error">
            <span ng-repeat="error in editVernacular.objectErrors" class="help-block">{{error.defaultMessage | translate:error.arguments:editVernacular.lastName}}</span>
        </div>
        <div class="form-group" ng-class="{'has-error':editVernacular.objectErrors}">
            <label for="editVernacularInput"><img ng-src="{{'/static/species/' + species.iconFileName}}"/></label>
            <input class="form-control" type="text" ng-model="editVernacular.name" id="editVernacularInput" autofocus ng-blur="editVernacular.visible=false">
        </div>
    </form>
</div>

<div class="modal-body" ng-if="!species.item">
    <div ng-if="species.scientificName">
        <strong>{{'scientificname'|translate}}:</strong><em> {{species.scientificName}}</em>
    </div>
    <div ng-if="species.family">
        <strong>{{'family'|translate}}:</strong> {{species.family | translate}} -
        <em>{{species.family.name}}</em>
    </div>


    <div>
        <strong>{{'msg.varieties'|translate}}:</strong>
        <ul class="nav nav-pills">
            <li ng-class="{active: species.variety==v}" role="presentation" ng-repeat="v in varieties | filter:{speciesId:species.id}:true | orderBy:'name'">
                <a tabindex="-1" ng-click="toggleVariety(v, species, $event)" href="#">{{v.name}}</a>
            </li>
        </ul>
        <button ng-click="addForm.visible=true" class="btn btn-primary btn-sm" ng-if="!addForm.visible" id="show-add-variety-button">
            <span class="glyphicon glyphicon-plus"></span> {{'add' | translate }}
        </button>
        <hr/>
        <form class="inline-form" ng-submit="addVariety(addForm,species.id)" ng-if="addForm.visible">
            <div class="has-error">
                <span ng-repeat="error in objectErrors" class="help-block">{{error.defaultMessage | translate:error.arguments}}</span>
            </div>
            <div class="form-group">
                <label for="add-variety-input">{{'msg.variety' | translate}}</label>
                <input class="form-control" type="text" id="add-variety-input" placeholder="{{'name' | translate}}" ng-model="addForm.varietyName">
            </div>
            <button type="submit" class="btn btn-default" id="submit-variety-button">{{'add' | translate}}</button>
            <button type="reset" class="btn btn-default" ng-click="addForm.visible=false">{{'cancel' | translate}}</button>
            <hr/>
        </form>
    </div>


    <p>

    <div ng-if="species.rules.smigoFind('goodcompanion','category') != null">
        <strong>{{'rule.goodcompanion'|translate}}</strong>
        <ul>
            <li ng-repeat="r in species.rules | filter:{category:'goodcompanion'} | orderBy:'host'">
                <a href="" ng-click="selectSpecies(r.arg.id)">{{r.hint.messageParameter | translate}}</a>
            </li>
        </ul>
    </div>

    <div ng-if="species.rules.smigoFind('badcompanion','category') != null">
        <strong>{{'rule.badcompanion'|translate}}</strong>
        <ul>
            <li ng-repeat="r in species.rules | filter:{category:'badcompanion'}">
                <a href="/species/{{r.arg.id}}">{{r.hint.messageParameter | translate}}</a>
            </li>
        </ul>
    </div>
    <div ng-if="species.rules.smigoFind('goodcroprotation','category') != null">
        <strong>{{'rule.goodcroprotation'|translate}}</strong>
        <ul>
            <li ng-repeat="r in species.rules | filter:{category:'goodcroprotation'}">
                {{r.hint.messageParameter[1] | translate}}
            </li>
        </ul>
    </div>
    <div ng-if="species.rules.smigoFind('badcroprotation','category') != null">
        <strong>{{'rule.badcroprotation'|translate}}</strong>
        <ul>
            <li ng-repeat="r in species.rules | filter:{category:'badcroprotation'}">
                {{r.hint.messageParameter | translate}}
            </li>
        </ul>
    </div>
    <div ng-if="species.rules.smigoFind('speciesrepetition','category') != null">
        <strong>{{'rule.croprotation'|translate}}</strong>
        <ul>
            <li>{{'rule.speciesrepetition' | translate:species.rules.smigoFind('speciesrepetition','category').hint.messageParameter}}</li>
        </ul>
    </div>
    </p>
</div>

<div class="modal-body" ng-if="species.item">
    <div>
        {{'msg.itemexplained' | translate}}
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$close()" id="close-variety-modal-button">{{'msg.close' | translate}}</button>
</div>