<div class="container-fluid full-height" ng-if="garden">
<div class="row full-height">
        <div class="col-sm-3">
            <h2>{{hostUser.username}}</h2>

            <h3>{{hostUser.displayName}}</h3>
            <p>{{hostUser.about}}</p>

            <ul class="nav nav-pills">
                <li ng-repeat="year in garden.getAvailableYears()" ng-class="{active: year == garden.selectedYear}">
                    <a href="" ng-click="garden.selectedYear = year">{{year}}</a></li>
            </ul>

        </div>
        <div class="col-sm-9 view-grid-wrapper full-height" ng-include="'grid.html'">
        </div>
    </div>
</div>