<div class="container-fluid full-height" ng-if="garden">
    <div class="row full-height">
        <div class="col-lg-3">
            <h3>{{hostUser.displayName}}</h3>
            <h5>{{hostUser.username}}</h5>

            <p>{{hostUser.about}}</p>

            <ul class="nav nav-pills">
                <li ng-repeat="year in garden.getAvailableYears()" ng-class="{active: year == garden.selectedYear}">
                    <a href="" ng-click="garden.selectedYear = year">{{year}}</a></li>
            </ul>

        </div>
        <div class="col-lg-9 view-grid-wrapper full-height" so-grid="garden" so-grid-mutable="false">
        </div>
    </div>
</div>