<!-- ######## main men/u ######## -->
<nav class="navbar navbar-default" role="navigation" ng-controller="MainMenuController">
<div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="menuIsCollapsed = !menuIsCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Smigo<span class="hidden-xs"> - {{'general.smigoslogan' | translate}}</span></a>
        </div>
        <div class="navbar-collapse collapse" collapse="menuIsCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#garden">{{'garden' | translate}}</a></li>
                <li><a href="#help">{{'help' | translate}}</a></li>
                <li ng-class="{hidden: userState.currentUser}">
                    <a href="#register" id="register-link">{{'msg.account.register' | translate}}</a></li>
                <li ng-class="{hidden: userState.currentUser}">
                    <a href="#login" id="login-link">{{'account.login' | translate}}</a></li>
                <li ng-class="{hidden: !userState.currentUser}">
                    <a href="#account" id="account-link">{{'msg.settings' | translate}}</a></li>
                <li ng-class="{hidden: !userState.currentUser}">
                    <a ng-click="logout()" href="" id="logout-link">{{'account.logout' | translate}}</a></li>
            </ul>
        </div>
    </div>
</nav>