<div class="container-fluid full-height">
    <div class="row full-height">
        <div id="species-frame" class="hidden-xs col-sm-3 full-height">
            <div class="species-wrapper">
                <div class="btn-group full-width">
                    <div class="row">
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-block btn-default" ng-class="{active: speciesState.action == 'info'}"
                                    ng-click="speciesState.action ='info'" title="{{'msg.view-square.description' | translate}}">
                                <span class="glyphicon glyphicon-info-sign"></span> {{'msg.view-square.title' | translate}}
                            </button>
                        </div>
                        <div class="col-xs-6">
                            <button type="button" class="btn btn-block btn-default" ng-class="{active: speciesState.action == 'delete'}"
                                    ng-click="speciesState.action ='delete'" title="{{'msg.deletesquare.description' | translate}}">
                                <span class="glyphicon glyphicon-remove"></span> {{'deletesquare' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <hr/>
                <form class="navbar-form" ng-submit="selectedSpeciesFromTopResult(speciesQuery)">
                    <input class="form-control full-width" type="text" placeholder="{{'search' | translate}}" ng-model="speciesQuery" ng-change="searchSpecies(speciesQuery)">
                </form>
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="s in speciesState.speciesArray | speciesFilter:speciesQuery"
                        ng-class="{active: speciesState.selectedSpecies.id === s.id && speciesState.action == 'add'}"
                        speciespopover="{{s.scientificName}}"
                        speciespopover-title="{{'/static/species/' + s.iconFileName}}">
                        <a href="" ng-click="selectSpecies(s)" ng-if="s.id != 99">{{s.vernacularName}}</a>
                    </li>
                    <hr/>
                    <li ng-if="isSpeciesAddable(speciesQuery) && userState.currentUser">
                        <a id="add-species-link" href="" ng-click="addSpecies(speciesQuery)">
                            <span class="glyphicon glyphicon-plus"></span>
                            {{'msg.add-species' | translate:speciesQuery }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="garden-frame" class="col-xs-12 col-sm-9 no-select full-height">
            <ul class="nav nav-tabs" role="tablist">
                <li ng-class="{active: year == plantsState.selectedYear}" ng-repeat="year in plantsState.availableYears">
                    <a href="" ng-click="selectYear(year)">
                        {{year}}
                    </a>
                </li>
                <li>
                    <a id="add-year-link" href="" ng-click="openAddYearModal()">
                        <span class="glyphicon glyphicon-plus"></span>{{'addyear' | translate}}
                    </a>
                </li>
            </ul>
            <div class="edit-grid-wrapper" ng-include="'grid.html'"></div>
        </div>
    </div>
</div>