<div class="container" xmlns="http://www.w3.org/1999/html">
    <!-- Default panel contents -->
    <div class="page-header text-center">
        <h1>{{pageMessageKey | translate}}</h1>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-1">
            <h3>Use another account</h3>

            <div>
                <a onClick="$('#googleOpenId').submit()" href="" class="list-group-item"><span class="signin-icon google"></span>Google</a>
                <a onClick="$('#facebookOpenId').submit()" href="" class="list-group-item"><span class="signin-icon facebook"></span>Facebook</a>
                <a onClick="$('#yahooOpenId').submit()" href="" class="list-group-item"><span class="signin-icon yahoo"></span>Yahoo</a>
            </div>

            <form action="/web/login-openid" id="googleOpenId" method="post">
                <input type="hidden" name="openid_identifier" value="https://www.google.com/accounts/o8/id"/>
                <input type="hidden" name="remember-me" value="true">
            </form>

            <form action="/web/login-openid" id="yahooOpenId" method="post">
                <input type="hidden" name="openid_identifier" value="https://me.yahoo.com"/>
                <input type="hidden" name="remember-me" value="true">
            </form>

            <hr/>

            <form action="/web/login-openid" method="POST" role="form">
                <input type="hidden" name="remember-me" value="true">

                <div class="form-group">
                    <label for="openid-url">Open Id URL</label>
                    <input required placeholder="https://openid.net/" class="form-control" id="openid-url" type="text" size="30" name="openid_identifier"/>
                </div>
                <div class="form-group">
                    <button name="submit" type="submit" class="btn btn-default">{{pageMessageKey | translate}}</button>
                </div>
            </form>
        </div>

        <div class="col-sm-6 col-md-4 col-md-offset-2">
            <h3>Use a Smigo account</h3>

            <form name="loginOrRegisterform" role="form">
                <div class="form-group">
                    <label for="username">{{'username' | translate}}</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="{{'username' | translate}}" ng-model="formModel.username" required/>
                </div>
                <div class="form-group" ng-class="{'has-error':loginOrRegisterform.password.$invalid}">
                    <label for="password">{{'password' | translate}}</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="{{'password' | translate}}" ng-model="formModel.password"
                           required ng-minlength="6"/>
                </div>
                <div class="form-group" ng-if="register">
                    <label for="password-again">{{'passwordagain' | translate}}</label>
                    <input type="password" class="form-control" id="password-again" name="passwordagain" placeholder="{{'passwordagain' | translate}}" equals="formModel.password" ng-model="formModel.passwordAgain" required/>
                    <p ng-show="true" class="help-block">{{loginOrRegisterform}}</p>
                </div>
                <div class="checkbox" ng-if="register">
                    <label for="termsOfService">
                        <input type="checkbox" id="termsOfService" name="termsOfService" ng-model="formModel.termsOfService" required/>
                        {{'msg.account.agreetos' | translate}}
                        <a target="_blank" href=/static/tos.html>{{'termsofservice' | translate}}</a>
                    </label>
                </div>
                <button type="submit" class="btn btn-default" ng-click="submitLoginOrRegisterForm(loginOrRegisterform)">{{pageMessageKey | translate}}</button>
            </form>

        </div>
    </div>

</div>