/* ############### general ###############*/
html,
body,
.full-height {
    height: 100%
}

body > .angular-view {
    /*81 px is height of navbar including margin*/
    height: calc(100% - 81px);
    height: -webkit-calc(100% - 81px);
    height: -moz-calc(100% - 81px);
    height: -o-calc(100% - 81px);
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.full-width {
    width: 100% !important;
}

.social-sprite {
    background-image: url('/static/icon/socialmedialogosprite.jpg');
    height: 20px;
    width: 20px;
    float: left;
    background-repeat: no-repeat;
    background-color: transparent;
}

.loadinggif {
    background: url('http://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2-spinner.gif') no-repeat right center;
    cursor: progress;
}

.subtle-link a,
a.subtle-link {
    color: #2C3E50;
}

/* ############### login  ##################################*/
.social-sprite.facebook {
    background-position: -1px 0;
}

.social-sprite.twitter {
    background-position: -26px 0;
}

.social-sprite.linkedin {
    background-position: -125px 0;
}

.social-sprite.reddit {
    background-position: -75px -50px;
}

.social-sprite.email {
    background-position: -174px -100px;
}

.social-sprite.yahoo {
    background-position: -150px -50px;
}

.social-sprite.google {
    background-position: -75px 0;
}

.list-group-item {
    border: 0;
}

/* ############### garden page ##################################*/

#species-frame {
    overflow: auto;
}

#garden-frame {
    /*position: fixed;*/
    /*bottom: 0;*/
    /*top: 0;*/
}

.edit-grid-wrapper {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 1px;
    right: 1px;
}

.popover {
    max-width: 500px;
}

.species-tooltip {
    position: absolute;
    left: 23%;
    top: 200px;
    z-index: 100;
    width: 500px;
}

/*############## Wall #########################*/
.view-grid-wrapper {
}

/* ############### general grid ##################################*/
.square {
    width: 48px;
    height: 48px;
    position: absolute;
}

.visible-remainder {
    width: 48px;
    height: 48px;
    position: absolute;
    background-color: sandybrown;
    opacity: 0.1;
    z-index: -1;
}

.small-species {
    width: 24px;
    height: 24px;
}

/*Chrome gird background position*/
/*
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    #grid::before {
        background-position: 40px 40px !important;
    }
}
*/

/*Mozilla gird background*/
@-moz-document url-prefix() {
    .square-container {
        background-image: none !important;
        background: rgba(198, 221, 198, 0.2);
    }
}

.square-container {
    background-position: 40px 40px;
    background-image: url('/static/icon/gridbackground.png');
    position: relative;
    width: 100400px;
    height: 100200px;
    margin-left: -99600px;
    margin-top: -99800px;
    cursor: crosshair;
}

.peephole {
    overflow: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    margin: 0;
}

/*############## Square tooltip  #########################*/
.square-tooltip {
    display: none;
    z-index: 100;
    position: absolute;
    background-color: #FFF;
    box-shadow: 0px 0px 5px #666;
    border: 1px solid #618039;
    border-radius: 3px;
    background-color: #FFF;
    white-space: nowrap;
}

.goodcompanion, .goodcroprotation {
    color: #618039;
}

.badcompanion, .badcroprotation, .speciesrepetition {
    color: #ac2925;
}
