<nav class="navbar navbar-default" role="navigation" ng-controller="MainMenuController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="menuIsCollapsed = !menuIsCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Smigo<span class="hidden-sm hidden-xs" so-msg="general.smigoslogan"> - </span></a>
        </div>
        <div class="navbar-collapse collapse" uib-collapse="menuIsCollapsed">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{hidden: !userState.currentUser}">
                    <a href="/gardener/{{userState.currentUser.username}}" so-msg-scope="msg.comments" id="comments-link">{{msg['msg.comments']}}<span ng-if="unreadComments>0" class="badge">{{unreadComments}}</span></a>
                </li>
                <li><a href="/garden-planner" so-msg="garden"></a></li>
                <li><a href="/forum" id="forum-link" so-msg="msg.forum"></a></li>
                <li><a href="/help" so-msg="help"></a></li>
                <li ng-class="{hidden: userState.currentUser}">
                    <a href="/register" id="register-link" so-msg="msg.account.register"></a></li>
                <li ng-class="{hidden: userState.currentUser}">
                    <a href="/login" id="login-link" so-msg="account.login"></a></li>
                <li ng-class="{hidden: !userState.currentUser}">
                    <a href="/account" id="account-link">{{userState.currentUser.displayName || userState.currentUser.username}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>